{{#common "page"}}

    <div class="box controller" data-controller="t8y/transform/DragDrop">
        <div class="rotate controller" data-controller="t8y/transform/Rotate" data-target=".box"></div>
        <div class="scale controller" data-controller="t8y/transform/Scale" data-target=".box"></div>
    </div>

{{/common}}