<article>
    <div id="vr-position">
        <div id="rotor-x">
            <div id="rotateX">
                <div id="rotor-y">
                    <div id="rotateY">
                        <div id="cube">
                            <img width="950" height="950" class="left" src="../assets/img/sphere/sphere_left.jpg"/>
                            <img width="950" height="950" class="front" src="../assets/img/sphere/sphere_front.jpg"/>
                            <img width="950" height="950" class="right" src="../assets/img/sphere/sphere_right.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>