<div class="component controller" data-component="form/range_slider" data-controller="form/RangeSlider" data-default="50" data-min="0" data-max="100">
    <span class="centered-line">
        <span class="line"></span>
    </span>
    <span class="handle"></span>
    <input type="hidden"/>
</div>