<div class="poster component controller" data-component="t8y/media/video/poster" data-controller="t8y/media/video/Poster" data-target="#{{id}}">
    {{{partial "t8y/components/picture" poster}}}
    {{{partial 't8y/components/media/video/button' id=id title="<img class='loading' src='../../_resources/bower/mediaelement/build/loading.gif'/>"}}}
</div>