<div class="component controller" data-component="t8y/media/video/timeline" data-controller="t8y/media/video/Timeline" data-target="#{{id}}">
    <div class="progress-bar"></div>
    {{#each breaks}}
        {{{partial type id=../id}}}
    {{/each}}
</div>